html {
  box-sizing: border-box;
  
  font-family: "TT Lakes", sans-serif;
}

*, *:before, *:after {
    box-sizing: inherit;
}
button {
  border: none;
  padding: 0;
  background: transparent;
  cursor: pointer;
}
.body{
margin: 0;
min-width: 320px;
min-height: 100%;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

